locals {
  {% for key, value in data['attrs'] | items -%}
  {{ key }} = "{{ value }}"
  {% endfor -%}
  tags = {
    {% for key, value in data['tags'] | items -%}
    {{ key }} = "{{ value }}"
    {% endfor -%}
  }
}
